In [1]:
import numpy as np
a =[1,2,3,4,5]
b =[0,1,2,3,4]
a = np.array(a)
b = np.array(b)
print(a+b)

[1 3 5 7 9]

In [5]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
print( myclient.list_database_names())

['admin', 'config', 'local']

In [7]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
    print("the database exist")

In [9]:
#insert into

mycol = mydb["students"] #objects 
mydata = {"name": "Queendolin", "roomno": "Dorcas A302"}
y = mycol.insert_one(mydata)

In [10]:
print(y)

InsertOneResult(ObjectId('679352251f14804668b39cb7'), acknowledged=True)

In [12]:
mydata2 = [{"name": "Queendolin", "roomno": "Dorcas A302"}, {"name": "Genesis", "roomno": "Dorcas A302"}, {"name": "Chidera", "roomno": "Daniel A302"}]

z = mycol.insert_many(mydata2)
print(z.inserted_ids)

[ObjectId('679353c21f14804668b39cbb'), ObjectId('679353c21f14804668b39cbc'), ObjectId('679353c21f14804668b39cbd')]

In [13]:
#how to insert multiple documents

In [16]:
myquery = {"name": "Chidera"}
myanswer = mycol.find(myquery)
for n in myanswer:
    print(n)

{'_id': ObjectId('679353a21f14804668b39cba'), 'name': 'Chidera', 'roomno': 'Daniel A302'}
{'_id': ObjectId('679353c21f14804668b39cbd'), 'name': 'Chidera', 'roomno': 'Daniel A302'}

In [18]:
myanswer1 = mycol.find({"name": "Chidera"})
print(myanswer1)

<pymongo.synchronous.cursor.Cursor object at 0x00000156B5A400B0>

In [21]:
myquery = {"name" : {"$gt": "Q"} }
myans = mycol.find(myquery)
for n in myans:
    print(n)

{'_id': ObjectId('679352251f14804668b39cb7'), 'name': 'Queendolin', 'roomno': 'Dorcas A302'}
{'_id': ObjectId('679353a21f14804668b39cb8'), 'name': 'Queendolin', 'roomno': 'Dorcas A302'}
{'_id': ObjectId('679353c21f14804668b39cbb'), 'name': 'Queendolin', 'roomno': 'Dorcas A302'}